/**
 * @name ReZero
 * @author SpoopyMcSpook
 * @version 4.4.4
 * @description A purple ReZero Emilia theme reworked by your's truly. v4.4.4
*/

/*Main body*/
body>div:not([class]):last-of-type {
    background: none !important;
}

.visual-refresh body {
    /*background image*/
    background-color: #fff;
    background-image: url(https://i.imgur.com/w7UVsOs.jpg) !important;
    background-size: cover !important;
    height: 100vh !important;
    background-repeat: no-repeat !important;
}

.wrapper_a7e7a8 {
    background-color: var(--background-secondary-alt);
}


.visual-refresh .theme-darker {
    --text-normal: #eee;
    --text-secondary: #eee;
    --text-muted: #aaa;
    --icon-tertiary: #aaa;
    --interactive-normal: #eee;
    --channel-icon: #bbb;
    --channels-default: #bbb;
    --bg-base-primary: #322a5833;
    --bg-base-secondary: #322a5866;
    --bg-base-tertiary: #322a5899;
    /*primary tint*/
    --background-primary: #322a5866;
    --background-secondary: #322a5866;
    --background-accent: #2989D8;
    --background-floating: #322a58ee;
    --background-base-low: #2989D833;
    /*user panel*/
    --background-base-lower: #322a5866;
    --background-base-lowest: #322a5833;
    --background-surface-high: #322a58;
    --background-surface-higher: #322a58ee;
    --background-surface-highest: #2989D899;
    --background-mod-subtle: #2989D899;
    --activity-card-background: #322a58;
    /*header bar*/
    --background-gradient-lower: #322a5899;

    /*friends button active*/
    --background-mod-strong: #2989D899;


}

.visual-refresh.theme-dark {
    --text-normal: #eee;
    --text-secondary: #eee;
    --text-muted: #aaa;
    --icon-tertiary: #aaa;
    --channel-icon: #bbb;
    --background-solid: #322a58;
    --background-base-lower: #322a5833;
    --background-base-lowest: #322a5866;
    --background-base-low: #322a58;
    --bg-base-primary: #322a5833;
    --bg-base-secondary: #322a5866;
    --bg-base-tertiary: #322a5899;
    /*primary tint*/
    --background-primary: #322a5866;
    --background-secondary: #322a5866;
    --bg-overlay-1: #322a5880;
    /*server list*/
    --bg-overlay-2: #322a5880;
    /*channel list*/
    --bg-overlay-3: #322a5866;
    /*channel header*/
    --background-secondary-alt: #322a58aa;
    --background-tertiary: #322a5833;
    --background-accent: none;
    --background-floating: #322a58ee;
    --background-light: #5BBBFF33;
    --background-light-alt: #2989D833;
    --chat-background-default: #322a5833;
    /*text input base*/
    --home-background: #322a5866;
    --bg-surface-raised: var(--background-solid);
    --bg-mod-faint: var(--background-secondary-alt);
    --bg-mod-subtle: var(--background-secondary-alt);
    --background-nested-floating: none;
    --background-mobile-primary: none;
    --background-mobile-secondary: none;
    --background-mod-strong: #2989D866;
    --background-modifier-hover: none;
    --background-modifier-active: none;
    --background-modifier-selected: #2989D866;
    --background-modifier-accent: none;
    --background-mentioned: none;
    --background-mentioned-hover: none;
    --background-message-hover: none;
    --background-surface-high: #2989D833;
    --background-surface-higher: #2989D899;
    --activity-card-background: #322a58;
    --deprecated-panel-background: #322a5866;
    --channeltextarea-background: #322a58aa;
    --__spoiler-background-color--hidden: #322a58;
    --__spoiler-background-color--hidden--hover: #373264;

    --channels-default: #5bbbff;
    --interactive-muted: #322a58;

    /*interactable cards*/
    --interactive-background-hover: #2989D866;
    --interactive-background-selected: #2989D866;
    /*events + ???*/
    --modal-background: var(--background-floating);
    --modal-footer-background: none;
    /*search result border*/
    --border-subtle: #2989D866;

    /*mark as read button*/
    --control-secondary-background-default: #2989D866;
    --control-secondary-background-hover: #2989D899;

}


.avatarSpeaking-2pCGrZ {
    box-shadow: inset 0 0 0 2px hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);
}

/*message hover*/
.c19a557985eb7793-buttonContainer {
    display: none;
}

._5126c0cd07f243a0-message {
    background: none !important;
}

/* ??? */
.contents_c19a55::before {
    display: none;
}

/* ??? */
.tabBody-2dgbAs::before {
    display: none;
}

/*Discord title bar ( _ X)*/
.c38106a3f0c3ca76-title {
    background: var(--background-primary);
}

/*server list*/
nav[aria-label="Servers sidebar"] {
    background: var(--bg-overlay-1);
    margin-bottom: 0px;
    padding-bottom: calc(var(--custom-app-panels-height, 0) + 20px);
    mask: linear-gradient(transparent 0%, black 4px, black calc(100% - 90px), transparent calc(100% - 78px)) !important;
}

/*unread server message button*/
.ef3116c2da186559-unreadMentionsFixedFooter,
.ef3116c2da186559-unreadMentionsIndicatorBottom {
    bottom: calc(var(--custom-app-panels-height, 0) + 20px);
}

/*plus, compass button*/
.circleIconButton__5bc7e {
    background: var(--background-surface-higher)
}

/*server channel list*/
._5e434347c823b592-sidebarList {
    background: var(--bg-overlay-2);
    border-radius: 0px !important;
    border: none !important;
    padding-bottom: 28px;
}

#channels {
    mask: linear-gradient(transparent 0%, black 4px, black calc(100% - 12px), transparent calc(100%)) !important;
}

/*Channel list spacer*/
.visual-refresh .container__2637a {
    padding-bottom: calc(var(--custom-app-panels-height, 0) - 12px);

}

/*server title bar*/
.f37cb1984c371ee5-header {
    background: var(--background-primary);
    box-shadow: var(--background-primary);
    border-bottom: none;
}

/* ??? */
.content_f75fb0::before {
    display: none !important;
}

.clickableSticker-3FN2_L,
.reactions-3ryImn {
    background: none !important;
}

/*channels top border*/
.f75fb00fb7356cbe-chat[data-has-border=true] {
    border: none;
}

/*channel header*/
section[aria-label="Channel header"] {
    border: none !important;
}

/*user modal*/
[aria-label="User area"] {
    bottom: var(--custom-chat-input-margin-bottom);
}

/*user activity*/
._5e434347c823b592-activityPanel {
    background: initial;
}

/* Scrollbar */
/*big*/
.d125d22cdfd32cfe-scrollerBase::-webkit-scrollbar-thumb,
/*thin*/
.d125d22cdfd32cfe-thin::-webkit-scrollbar-thumb {
    border: none;
    background: linear-gradient(0deg, rgba(91, 187, 255, 0.1), rgb(91, 187, 255), rgba(91, 187, 255, 0.1));
}

/*big*/
.d125d22cdfd32cfe-scrollerBase::-webkit-scrollbar {
    background: linear-gradient(0deg, rgba(91, 187, 255, 0.4) 0%, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0) 95%, rgba(91, 187, 255, 0.4) 100%);
    width: 5px;
}

._36d072eab2b2e737-scroller::-webkit-scrollbar-track {
    margin-bottom: 8px;
}

.d125d22cdfd32cfe-thin::-webkit-scrollbar {
    width: 4px;
    background: none;
}

.d125d22cdfd32cfe-thin:hover::-webkit-scrollbar {
    width: 4px;
    background: linear-gradient(0deg, rgba(91, 187, 255, 0.4) 0%, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0) 95%, rgba(91, 187, 255, 0.4) 100%);
}

/*servers*/
.d125d22cdfd32cfe-none::-webkit-scrollbar {
    width: 0px;
}

/*input field*/
.f75fb00fb7356cbe-form {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    margin: 0;
    background: var(--background-secondary-alt)
}

/*message container*/
._5e434347c823b592-container {
    --custom-chat-input-margin-bottom: 12px;
}

/*xxx is typing bar*/
.b8880176888cc928-inTextChannel.b8880176888cc928-base {
    top: -12px;
    bottom: auto;
}

/*Chat mask*/
._36d072eab2b2e737-scroller {
    mask: linear-gradient(black 0%, black calc(100% - 8px), #00000000 100%) !important;
}

._36d072eab2b2e737-chatGradient {
    background: none;
    /* background: linear-gradient(180deg, rgba(54, 57, 63, 0), var(--background-secondary-alt)); */
}

.f75fb00fb7356cbe-form::before {
    top: -8px;
    left: 0;
    margin-right: 4px;
    width: 100%;
    background: linear-gradient(180deg, rgba(54, 57, 63, 0), var(--background-secondary-alt));
}

/*reply, thread suggestion, etc*/
._740174f3d6a2c8fe-stackedBars {
    background: none;
}

._740174f3d6a2c8fe-stackedBars {
    border: none;
}

.f75fb00fb7356cbe-form div:first-child {
    order: 2;
}

.f75fb00fb7356cbe-form div div {
    order: initial !important;
}

/*message box*/
._740174f3d6a2c8fe-themedBackground,
._841c8f861f7b2704-replyBar,
._841c8f861f7b2704-threadSuggestionBar {
    background: linear-gradient(90deg, rgba(41, 137, 216, 0.15), rgba(91, 187, 255, 0.15), rgba(41, 137, 216, 0.15));
    border: none;
}

._841c8f861f7b2704-clipContainer {
    padding: 0;
}

._36d072eab2b2e737-scrollerSpacer {
    height: 12px;
}

/*??? -- somewhere in the message feed......*/
.clickable_f23da8[aria-disabled=false]>.base_f23da8:hover {
    background: rgb(41, 137, 216, 0.4);
}


/* Channel Select */
._2ea32c412048f708-link:hover,
/*DM Select*/
._972a0d22c8afa7f0-interactive:hover,
/*Voicechat users*/
._07f9193042954787-voiceUser:hover ._07f9193042954787-content {
    background: linear-gradient(90deg, rgba(91, 187, 255, 0.6), rgba(91, 187, 255, 0)) !important;
}

._2ea32c412048f708-modeSelected:hover ._2ea32c412048f708-link,
._972a0d22c8afa7f0-interactiveSelected:hover,
._07f9193042954787-voiceUser._07f9193042954787-selected:hover ._07f9193042954787-content {
    background: linear-gradient(90deg, rgba(91, 187, 255, 0.6), rgba(41, 137, 216, 0.4)) !important;
}

._2ea32c412048f708-modeSelected ._2ea32c412048f708-link,
._972a0d22c8afa7f0-interactiveSelected,
._07f9193042954787-selected ._07f9193042954787-content {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(41, 137, 216, 0.4)) !important;
}

/* Members Select*/
.c8ffbb79449f399c-member {
    background: none;
}

.c8ffbb79449f399c-member:hover ._91a9d7f7e5248a56-childContainer {
    background: linear-gradient(90deg, rgba(91, 187, 255, 0), rgba(41, 137, 216, 0.4));
}

.c8ffbb79449f399c-member:active,
._91a9d7f7e5248a56-selected ._91a9d7f7e5248a56-childContainer {
    background: linear-gradient(90deg, rgba(91, 187, 255, 0.6), rgba(41, 137, 216, 0)) !important;
}

.c8ffbb79449f399c-member:active,
._91a9d7f7e5248a56-selected ._91a9d7f7e5248a56-childContainer:hover {
    background: linear-gradient(90deg, rgba(91, 187, 255, 0.6), rgba(41, 137, 216, 0.4)) !important;
}

._5d473ecff348c314-memberInner ._91a9d7f7e5248a56-layout {
    background: none;
}


/*floating tab backgrounds*/
/*apps&commands*/
._13533e3c5791980f-autocomplete,
/*emoji picker*/
._084343c4f11eaaab-contentWrapper,
/*emoji reaction*/
.browser_d98031,
/*threads*/
.d9c8822889d1d4a1-container,
/*pins*/
.e8b59c4b335dd2fc-messagesPopoutWrap,
/*activity*/
.fc561d3c125f6a2f-container,
/*forward / delete*/
._8a031a135bfcb9ba-container,
/*search*/
.root__49fc1 {
    background: var(--background-floating);
    box-shadow: none !important;
    border: var(--background-solid) 1px solid;
}


/*searchbars*/
/*message search*/
._974928fe84ca9647-searchBar,
/*emoji picker search*/
._72c3859781ebce8f-wrapper {
    border: var(--background-solid) 1px solid;
    background: var(--background-light-alt);
    border-radius: 4px;
}

/*fuck knows*/
.container_acb8b3:hover {
    background: var(--background-light-alt);
    border: var(--background-solid) 1px solid;
}


/*search popup*/

.c68065c20f8328a7-searchResultGroup::before {
    border: #7289da;
}


._02a39cb2980ceaaf-searchResult:after {
    background: none;
}

._02a39cb2980ceaaf-searchResult:hover {
    background: rgba(91, 187, 255, 0.1);
}

._02a39cb2980ceaaf-button {
    background-color: rgb(91, 187, 255, 0.4);
    color: #ddd;
}

._02a39cb2980ceaaf-button:hover {
    background-color: rgb(91, 187, 255, 0.5);
    color: #fff;
}


/*misc. stuff*/
._0f481cbbd7530492-bottomBar {
    background: linear-gradient(90deg, rgb(50, 42, 86), rgb(41, 137, 216), rgb(50, 42, 86)) !important;
}

/*load more*/
.theme-dark .hasMore-3e72_v {
    border: none !important;
    background: none !important;
}

.theme-dark .hasMore-3e72_v button {
    color: rgb(91, 187, 255) !important;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(91, 187, 255, 0.4), rgba(0, 0, 0, 0.4)) !important;
}

._0f481cbbd7530492-newMessagesBar {
    /*new messages*/
    background: linear-gradient(90deg, rgb(50, 42, 86), rgb(41, 137, 216), rgb(50, 42, 86));
}

._5126c0cd07f243a0-mentioned {
    /* Mention */
    background: linear-gradient(90deg, rgba(91, 187, 255, 0.4) 0%, rgba(0, 0, 0, 0) 90%) !important;
}

.unread-1xRYoj {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(91, 187, 255, 0.4), rgba(0, 0, 0, 0.4)) !important;
}

.emoji.jumboable {
    width: 96px;
    height: 96px;
}